body {
    /* background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 50%); */
    
}
#backgroundImage {

    width: 680px;
    height: 600px;
    background-image: url('../img/Asset\ 3@2x_103644.png');
    background-position: center;
    background-size: cover;
    position: fixed;
    left: 400px;
    top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.05;
    

}
.nav-logo {
    width: 30px;
}
.navbar-brand {
    font-weight: bold;
}
#gadg {
    font-weight: normal;
    font-size: small;
    color: #e979ac;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
#flyer {
    width: 550px;
    height: 550px;
    background-image: url('../img/AvadLink\ Gadgets\ flyer.jpg');
    box-shadow: -10px 10px 200px 250px rgb(151 34 227 / 15%);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    z-index: 2;
}
#flyerText {

    font-size: large;
    /* color: white; */
    font-family: cursive;
    border-radius: 5px;
}
#flyerText p:last-child {

    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#footerMotive {

    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 -17px 0;
    opacity: 0.8;
}

.footerEmoji {

    width: 15px;
    height: 13px;
    margin: 0 4px 3px 4px;
}

.footer {

    width: 100%;
    height: 100px;
    background-color: black;
    z-index: 3;
}
.footer hr {
    color: white;
    position: relative;
    top: 50px;
}
.footer p {
    font-size: large;
    font-weight: bold;
    color: white;
    position: relative;
    top: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}